aside {
    width: 250px;
    height: 500px;
    background-color: #876547;
    float: left;
    text-align: center;
  
    h2 {
      color: #fff;
      margin: 10px 0;
    }
  
    img {
      margin-bottom: 10px;
    }
  }